.loading_dialog {
    background-color: transparent;
}

.loading_dialog.container {
    background-color: rgba(0, 0, 0, 0.5);
}

.loading_dialog .dialog {
    background-color: $base;
    margin: 1500px;
    border-radius: 7px;
}