//Global Styles
.topbar {
    background-color: transparent;
    margin: 10px 10px 10px 10px;
}

.topbar.container {
    background-color: $background;
    color: $text;
    padding: 3px;
    border-radius: 7px;
}

// Styles on classes (see eww.yuck for more information)
.topbar .right slider {
    all: unset;
    color: #ffd5cd;
}

.topbar .workspaces .button {
    padding-left: .65rem;
    padding-right: .65rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.topbar .workspaces .button.selected {
    color: $text_clearest;
    background-color: $button_active;
}

.topbar .workspaces .selected:hover {
    color: $text_clearest;
    background-color: $button_active;
}

.topbar .tray_icon {
    color: $text_clearest;
}

.topbar .tray_icon_faded {
    color: rgb(82, 82, 82);
}

.topbar .os_icon {
    font-family: "MesloLGS NF";
    color: $text_clearest;
    font-size: 20pt;
    font-weight: bold;
}

.topbar .system_resources {
    padding-right: 20px;
    padding-left: 20px;
}

.topbar .power_menu_buttons {
    background-color: $foreground;
    border-radius: 4px;
}

.topbar .power_menu_buttons .poweroff {
    color: $error
}

.topbar .power_menu_buttons .reboot {
    color: $success
}

.topbar .power_menu_buttons .suspend {
    color: $warning
}