$foreground: #45475a;
$background: #11111b;

$text: #b1b1b5;
$text_clearer: #dddddd;
$text_clearest: #ffffff;

$button_hover: #35353d;
$button_active: #58585f;

$success: #a6e3a1;
$warning: #f9e2af;
$error: #A54242;


// Not used
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

$text: #b1b1b5;
$text2: #dddddd;
$subtext0: #a6adc8;
$subtext1: #bac2de;
$selected: #58585f;

$surface0: #313244;
$surface1: #45475a;
$surface2: #585b70;

$overlay0: #6c7086;
$overlay1: #7f849c;
$overlay2: #9399b2;